<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
<h1>fullmetalarchivist</h1>
<p>
Mathematician who programs. My interests align in the overlapping world 
of mathematics and computer science. Naturally then, I am interested in everything 
from cryptography to the theory of computation itself. I'm young, and I'm a student, so
consider carefully what you read here, for no tone is painted professionally. Despite being young
and naive, I'm a transhumanist, and I am hihgly optimistic even when I may not seem so. 

</p>
<q>In the age
of massive data where math and programs intersect to form training sets for machine intellect, the 
question of what it means to be human then begs the question what it means to be data--what does it feel like?</q>

